:root 
{
  --select : #ffd700 ; 
  --select-bg : #000c ; 
  --header-bg : #000 ; 
  --header-link : #000 ; 
  --header-link-hover : #000 ; 
  --header-link-focus : #000 ; 
  --header-link-visited : #000 ; 
  --header-menubarDropper-stroke : #fff ; 
  --focus-outline : #ffd700 ; 
  --l-header-link : #fff ; 
}
