@font-face {
  font-family: "main";
  src: url("https://rawcdn.githack.com/JeansLo/JeansLo.github.io/39844995a1407267866d4192f4af482607cc24bf/f/OCRAStd.woff2") format("woff2") ; 
}
@font-face {
  font-family: "main_";
  src: url("https://raw.githack.com/JeansLo/JeansLo.github.io/main/f/OCRAStd.woff2") format("woff2") ; 
}
