@font-face {
  font-family: "main";
  src: url("https://rawcdn.githack.com/JeansLo/JeansLo.github.io/39844995a1407267866d4192f4af482607cc24bf/f/OCRAStd.woff2") format("woff2") ; 
}
@font-face {
  font-family: "main_";
  src: url("https://rawcdn.githack.com/JeansLo/JeansLo.github.io/99f5e530f2096fc20238e0e979facddfcb7d5ca8/f/OCRAStd.otf") format("opentype") ; 
}
@font-face {
  font-family: "main_kai";
  src: url("https://rawcdn.githack.com/JeansLo/JeansLo.github.io/5b123626ab50822f3d112eb9cd690da85085a37e/f/TW-Kai-98_1.woff2") format("woff2") ; 
}
